atomicwrites==1.1.5
attrs==18.1.0
biopython==1.70
bson==0.5.5
certifi==2017.11.5
chardet==3.0.4
click==6.7
clickclick==1.2.2
colorama==0.3.9
connexion==1.1.15
Flask==1.0.2
Flask-Testing==0.7.1
idna==2.6
inflection==0.3.1
itsdangerous==0.24
Jinja2==2.10
jsonschema==2.6.0
MarkupSafe==1.0
more-itertools==4.2.0
neo4j-driver==1.6.1
neotime==1.0.0
numpy==1.13.3
pandas==0.22.0
pkginfo==1.4.1
pluggy==0.6.0
prompt-toolkit==1.0.15
py==1.5.4
py2neo==4.0.0
pygfe
Pygments==2.2.0
PyMySQL==0.7.11
pytest==3.6.3
python-dateutil==2.6.1
pytz==2017.3
PyYAML==5.1
requests==2.20
requests-toolbelt==0.8.0
seqann
six==1.11.0
swagger-spec-validator==2.1.0
tqdm==4.19.4
twine==1.9.1
urllib3==1.24.2
uWSGI==2.0.17
wcwidth==0.1.7
Werkzeug==0.15.3
